@model IEnumerable<AdoCrudApp.Models.Employees>

@{
    ViewData["Title"] = "Home Page";
}

<a asp-action="Create" asp-controller="Home" class="btn btn-success" > Create Employee</a>

<div class="text-center">
    <table class="table">

        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Gender</th>
            <th>Action</th>
        </tr>
        @foreach (var emp in Model)
        {
    <tr>
        <td> @emp.Id</td>
        <td> @emp.Name</td>
        <td> @emp.Email</td>
        <td> @emp.Mobile</td>
        <td> @emp.Gender</td>
        <td>
            <a asp-action="Update" asp-controller="Home" asp-route-id="@emp.Id">Edit</a>
            ||
            <a asp-action="Delete" asp-controller="Home" asp-route-id="@emp.Id" onclick="return confirm('Are Sure Want TO Delete This Record')">Delete</a>

        </td>
    </tr>
        }
    </table>
</div>
